* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0  
 0 / 50%);
  font-size: 2rem; /* Adjust font size for responsiveness */
}

h3 {
  color: white;
  font-size: 1.5rem; /* Adjust font size for responsiveness */
  font-family: 'Montserrat', sans-serif;
}

body>img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  padding: 20px;
  max-width: 900px; /* Define a largura máxima da section */
  margin: 0 auto; /* Centraliza a section */
  
}

section div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 90%; /* Adjust max-width for mobile devices */
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

section>div {
  padding: 50px 10px; /* Adjust padding for mobile devices */
}

section div img {
  width: 80px; /* Adjust width for mobile devices */
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 8px 1px lightblue;
}

a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  padding: 10px;
  color: white;
  text-decoration: none;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  transition-duration: 200ms;
}

a:hover {
  background: white;
  color: #0f172a;
}

a i {
  font-size: 1.3em;
}

#bloco {
  /*background-image: linear-gradient(to bottom right, #860111, #018676);*/
  background-color: rgba(8, 8, 8, 0.9);
  border-radius: 25px;
}

.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-90deg,  
  #860111 0%, #860111 25%, #018676 51%, #018676 100%);
  animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0%  
 50%;
  }
}
